@using ProyectoFinalDiseño.Models.user
@model User_Application

@{
    ViewData["Title"] = "User Profile";
}

<div class="container mt-5 text-dark">
    <div class="card profile-card animate-fade-in">
        <div class="card-body">
            <h2 class="card-title text-center">User Profile</h2>
            <hr>
            <dl class="row fade-in">
                <dt class="col-sm-4">Name:</dt>
                <dd class="col-sm-8">@Model.Name @Model.Lastname</dd>

                <dt class="col-sm-4">Username:</dt>
                <dd class="col-sm-8">@Model.UserName</dd>

                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">@Model.Email</dd>

                <dt class="col-sm-4">Date of Birth:</dt>
                <dd class="col-sm-8">
                    @(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToShortDateString() : "N/A")
                </dd>

            </dl>
            <div class="text-center">
                <a asp-asp-controller="Account" asp-action="EditUser" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-danger">Change Password</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>


