@model ProyectoFinalDiseño.Models.Inventario

<h2>Detalles del Objeto</h2>

<p><strong>Nombre:</strong> @Model.Nombre</p>
<p><strong>Descripción:</strong> @Model.Descripcion</p>
<p><strong>Cantidad:</strong> @Model.Cantidad</p>
<p><strong>Estado:</strong> @Model.Estado</p>
<p><strong>Categoría:</strong> @Model.Categoria?.NombreCategoria</p>

<a asp-action="Edit" asp-route-id="@Model.ObjetoID" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-primary">Volver</a>

