@model IEnumerable<ProyectoFinalDiseño.Models.Inventario>

@{
    ViewData["Title"] = "Lista de Inventario";
}

<h2>Lista de Inventario</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo Producto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Estado</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Cantidad</td>
                <td>@item.Estado</td>
                <td>@item.CategoriaID</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ObjetoID" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.ObjetoID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
